<!--<h2>Kirimlar ro‘yxati</h2>-->

<!--<a href="{% url 'income_add' %}">➕ Yangi kirim qo‘shish</a>-->
<!--<ul>-->
<!--  {% for income in incomes %}-->
<!--    <li>-->
<!--      {{ income.title }} – {{ income.ammount }} so‘m ({{ income.payment_method }})-->
<!--      <a href="{% url 'income_update' income.id %}">✏️ Tahrirlash</a> |-->
<!--      <a href="{% url 'income_delete' income.id %}">🗑 O‘chirish</a>-->
<!--    </li>-->
<!--  {% empty %}-->
<!--    <li>Hozircha kirimlar yo‘q</li>-->
<!--  {% endfor %}-->
<!--</ul>-->
<!--&lt;!&ndash;&ndash;&gt;-->